html {
  background: linear-gradient(270deg,#FFFFFF,rgb(230 234 246));
  background: -moz-linear-gradient(270deg,#FFFFFF,rgb(230 234 246));
  background: -webkit-linear-gradient(270deg,#FFFFFF,rgb(230 234 246));
}

@font-face {
  font-family: 'Pixel Operator Mono HB8';
  src: local('Pixel Operator Mono HB8'), local('Pixel Operator Mono HB8'),
      url('/assets/fonts/PixelOperator/PixelOperatorMonoHB8.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Operator';
  src: local('Pixel Operator'), local('Pixel Operator'),
      url('/assets/fonts/PixelOperator/PixelOperator.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pixel Operator Mono HB8', Courier, monospace;
  color: rgb(15, 21, 25);
}

body, p, span, div, ul, li, a {
  font-family: 'Pixel Operator', Courier, monospace;
  color: rgb(15, 21, 25);
}

body {
  height: 100vh;
}

th,
td {
  padding: 0.5rem 1.4rem;
}

tr {
  border-bottom: 0;
  /* height: 56px; */
}

th {
  border-bottom: 2px solid rgb(0 0 0 / 0.8);
}

.kusama-size {
  width: calc(4rem + (4 * (4px + (12 * 10 * 1px))));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 4rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(4rem + (4 * (4px + (12 * 10 * 1px))));
}

.title {
  margin: 0;
}

.subtitle {
  font-family: 'Pixel Operator', Courier, monospace;
  text-transform: capitalize;
  font-size: 2rem;
}

footer {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(4rem + (4 * (4px + (12 * 10 * 1px))));
}

.footer-icons {
  display: flex;
  align-items: center;
}

.caption {
  font-size: 1.5;
}

.logo {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.logo:first-child {
  margin-left: 0;
}

.logo:last-child {
  margin-right: 0;
}

.logo-network {
  margin-left: 1rem;
}

.icon-img {
  width: auto;
  height: 2rem;
}

.content {
  margin: 0 auto;
  width: calc(6rem + (4 * (4px + (12 * 10 * 1px))));
}

.content-header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.content-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-view-options {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.control .btn-link {
  background-color: rgb(15, 21, 25);
  color: #FFFFFF;
  min-width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  /* text-transform: none; */
}

.btn-link.selected {
  text-decoration: underline;
}

.btn-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-link.disabled {
  background-color: rgba(15, 21, 25, 0.2);
  text-decoration: none;
  cursor: default;
}

.btn-link:first-child {
  margin-right: 0;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.game-controls-right {
  position: absolute;
  top: 0;
  right: -6rem;
  width: 6rem;
}

.game-stats {
  margin-right: 1rem;
}

.game-stats tr {
  height: 46px;
}

.game-stats li {
  margin-bottom: 0;
}

.game-stats td {
  text-align: center;
}

.duration, .tries, .help-on, .points {
  font-family: 'Pixel Operator Mono HB8', Courier, monospace;
  color: rgb(15, 21, 25);
  font-size: 1.4rem;
}

.action, .message {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 0;
  font-size: 2rem;
}

.hidden {
  visibility: hidden;
}

.btn-network {
  position: absolute;
  top: 6rem;
  right: -9rem;
  transform: rotate(90deg);
}

.content-body {
  padding: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(15, 21, 25) 0px 0px 0px 3px;
  background-color: #FFFFFF;
  height: calc(6rem + (4 * (4px + (12 * 10 * 1px))));
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(4 * (4px + (12 * 10 * 1px)));
  height: calc(4 * (4px + (12 * 10 * 1px)));
}

*, *::before, *::after {
  box-sizing: border-box;
}

.corespace {
  margin: 2px;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  aspect-ratio: 1;
  border: 2px solid rgb(230 234 246 / 1);
  border-radius: calc(6 * 0.65 * 1px);
  inline-size: calc(12 * 10 * 1px);
  block-size: calc(12 * 10 * 1px);
}

.corespace:hover {
  cursor: pointer;
  border: 2px solid rgb(0 0 0 / 0.8);
}

.corespace:last-child {
  margin-right: auto;
  margin-bottom: auto;
}

.corespace-head {
  border: 2px solid rgb(0 0 0 / 1);
}

.corespace.empty {
  cursor: auto;
}

.corespace.highlight {
  border: 2px solid rgb(0 0 0 / 0.8) !important;
}

.corespace.missed {
  border: 2px solid rgb(0 0 0 / 0.8);
  animation: headShake;
  animation-duration: 0.6s;
}

.corespace.matched {
  border: 2px solid rgb(0 0 0 / 0.8) !important;
  opacity: 1 !important;
  animation: heartBeat;
  animation-duration: 0.6s;
}

.corespace.disable {
  cursor: auto;
  opacity: 0.2;
  border: 2px solid rgb(0 0 0 / 0.24);
}

.corespace-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: calc(6 * 0.25 * 1px);
}

.corespace.help {
  border-color: rgba(230, 0, 122, 1);
}

.core {
  margin: 0;
  padding: 0;
  contain: strict;
  aspect-ratio: 1;
  border: 1px solid rgb(0 0 0 / 0.06);
  border-radius: calc(6 * 0.15 * 1px);
  /* will-change: transform; */
}

.corespace.polkadot .core { 
  inline-size: 12px;
  block-size: 12px;
}

.corespace.kusama .core { 
  inline-size: 9px;
  block-size: 9px;
}

.core:last-child {
  margin-bottom: auto;
}

.core--0 { 
  background-color: rgb(230 234 246 / 0.48);
}

.core--1 { 
  /* polkadot: #E6007A; */
  /* polkadot: rgb(230 0 122); */
  background-color: rgba(230, 0, 122, 1); 
}

.corespace.polkadot .core--1 { 
  /* polkadot: #E6007A; */
  /* polkadot: rgb(230 0 122); */
  background-color: rgba(230, 0, 122, 1); 
}

.corespace.kusama .core--1 { 
  background-color: rgb(0, 0, 0); 
}

.game-over {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.game-over .share {
  position: relative;
}

.game-over .btn-link {
  width: 128px;
  text-transform: uppercase;
}

.game-over .action-msg {
  position: absolute;
  left: 1rem;
  white-space: nowrap;
  visibility: hidden;
}


.action-msg.visible {
  visibility: visible;
}