:root {
    /*  */
    --hsl-100: 210, 17%, 98%;
    --hsl-200: 210, 16%, 93%;
    --hsl-300: 210, 14%, 89%;
    --hsl-400: 210, 14%, 83%;
    --hsl-500: 210, 11%, 71%;
    --hsl-600: 208, 7%, 46%;
    --hsl-700: 210, 9%, 31%;
    --hsl-800: 210, 10%, 23%;
    --hsl-900: 210, 11%, 15%;
    --hsl-green: 164, 95%, 42%;
    --hsl-blue: 195, 83%, 38%;
    --hsl-yellow: 42, 100%, 70%;
    --hsl-yellow-lighter: 42, 100%, 80%;
    --hsl-red: 346, 84%, 61%;
    /*  */
    --color-primary: hsl(var(--hsl-900));
    --color-primary-lighter: hsl(var(--hsl-200));
    --color-background: hsl(var(--hsl-200));
    --color-background-darker: hsl(var(--hsl-600));
    --color-content: hsl(var(--hsl-100));
    --color-shadow: hsl(var(--hsl-800));
    --color-shadow-lighter: hsl(var(--hsl-300));
    --color-border: hsl(var(--hsl-200));
    --color-border-lighter: hsl(var(--hsl-100));
    --color-border-darker: hsl(var(--hsl-300));
    --color-core: hsl(var(--hsl-100));
    --color-highlight: hsl(var(--hsl-700));
    --color-green: hsl(var(--hsl-green));
    --color-blue: hsl(var(--hsl-blue));
    --color-yellow: hsl(var(--hsl-yellow));
    --color-yellow-lighter: hsl(var(--hsl-yellow-lighter));
    --color-red: hsl(var(--hsl-red));
    --color-white: hsl(var(--hsl-100));
    /*  */
    --rgb-polkadot: 230 0 122;
    --rgb-kusama: 0 0 0;
    --color-polkadot: rgb(var(--rgb-polkadot));
    --color-kusama: rgb(var(--rgb-kusama));
    /*  */

    /* original sizes */
    --core-size: calc(12px);
    --corespace-size: calc(12 * 10 * 1px);
    --gameboard-size: calc(4 * (4px + (12 * 10 * 1px)));
    --content-size: calc(6rem + (4 * (4px + (12 * 10 * 1px))));

    /* matrix size */
    --matrix-size: 4;
    --polkadot-size: 7;
    --kusama-size: 8;

    --gameboard-size: calc(75vw);
    --content-size: calc(var(--gameboard-size) + var(--gameboard-size) * 0.125);
    --corespace-size: calc(
        var(--gameboard-size) / var(--matrix-size) - var(--gameboard-size) /
            var(--matrix-size) * 0.04
    );
    /* polkadot */
    --core-polkadot: calc(
        var(--corespace-size) / var(--polkadot-size) - var(--corespace-size) /
            var(--polkadot-size) * 0.16
    );
    --gap-polkadot: calc(var(--core-polkadot) * 0.16);
    /* kusama */
    --core-kusama: calc(
        var(--corespace-size) / var(--kusama-size) - var(--corespace-size) /
            var(--kusama-size) * 0.16
    );
    --gap-kusama: calc(var(--core-kusama) * 0.16);

    /* typography */
    --font-size: calc(1em + 1vw);
    --font-size-small: 80%;
    --font-size-x-small: 70%;
    --font-size-large: 105%;
    --font-size-x-large: 110%;
    /* --font-size-xx-large: 115%;
  --font-size-xxx-large: 125%;
  --font-size-xxxx-large: 140%; */

    @media (orientation: landscape) {
        --gameboard-size: calc(60vh);
        --font-size: calc(1em + 1vh);
        /* --font-size: calc(1em + 0.5vh); */
        /* --font-size-x-small: 50%;
    --font-size-small: 65%;
    --font-size-large: 110%;
    --font-size-x-large: 120%;
    --font-size-xx-large: 130%;
    --font-size-xxx-large: 150%;
    --font-size-xxxx-large: 180%; */
    }
}
